@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  @apply bg-background;
  background-image: url("../icons/dumbbell.png");
  background-size: 75px;
  background-repeat: repeat;
  overflow-y: hidden;
}

.button {
  @apply rounded-md block my-4
}

.icon-transition {
  transition-duration: 200ms;
  transition-property: all;
  transition-timing-function: ease-out;
}

.popup-transition {
  transition-duration: 250ms;
  transition-property: all;
  transition-timing-function: ease-out;
  top: 30%;
}

.icon-transition:hover {
  color: white;
}

.primary-gradient {
  background-image: linear-gradient(to bottom right, #ff813d, #ff600b);
}

.green-gradient {
  background-image: linear-gradient(to bottom right, #51f34b, #35df26);
}

.yellow-gradient {
  background-image: linear-gradient(to bottom right, #f9e239, #f9c939);
}